
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../assets/css/layui.css">
    <link rel="stylesheet" href="../assets/css/view.css"/>
    <link rel="icon" href="/favicon.ico">
    <title>管理后台</title>
</head>
<body class="layui-view-body">
    <div class="layui-content">
        <div class="layui-page-header">
            <div class="pagewrap">
                <span class="layui-breadcrumb">
                  <a href="">首页</a>
                  <a href="">用户</a>
                  <a><cite>管理员组</cite></a>
                </span>
                <h2 class="title">管理员组</h2>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-card">
                <div class="layui-card-body">
                    <div class="form-box">
                        <div class="layui-form layui-form-item">
                            <div class="layui-inline">
                              <form>
                                <div class="layui-form-mid">账号:</div>
                                <div class="layui-input-inline" style="width: 100px;">
                                  <input type="text" autocomplete="off" class="layui-input">
                                </div>
                                <button class="layui-btn layui-btn-blue" id="button-check">查询</button>
                                <!-- <button class="layui-btn layui-btn-blue">修改</button>
                                <button class="layui-btn layui-btn-blue">删除</button> -->
                                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                              </form>
                            </div>
                        </div>
                        <a href="form.html" class="layui-btn layui-btn-blue"><i class="layui-icon">&#xe654;</i>新增</a>
                        <!-- <table id="demo"></table> -->
                        <table class="layui-table" lay-data="{width: 900, height:360, url:'/Hello/listAdm', page:true, id:'test'}" lay-filter="demo">
							<thead>
								<tr>
									<th
										lay-data="{field:'adm_id', width:70, sort: true,align:'center', fixed: true,page: true}">ID</th>
									<th lay-data="{field:'adm_name', width:120,align:'center'}">登录QQ</th>
									<th
										lay-data="{field:'adm_passward', width:100, align:'center',sort: true,edit:'text'}">密码</th>
									<th lay-data="{field:'adm_sex', width:160,align:'center'}">性别</th>
									<th lay-data="{field:'adm_Aaddress', width:160,align:'center'}">省份</th>
									<th
										lay-data="{field:'adm_Introduce', width:128,align:'center',edit:'text'}">简介</th>
									<th
										lay-data="{fixed: 'right', width:160, align:'center', toolbar: '#barDemo'}">操作</th>
								</tr>
							</thead>
						</table>
						<script type="text/html" id="barDemo">
    						<a class="layui-btn layui-btn-xs" lay-event="tableUpdate">编辑</a>
    						<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="tableDelete">删除</a>
						</script>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../assets/layui.all.js" type="text/javascript"></script>
    <script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
    
	<script>
		layui.use('table', function() {
			var table = layui.table;
			//监听表格复选框选择
			table.on('checkbox(demo)', function(obj) {
				console.log(obj)
			});
			//监听工具条
			table.on('tool(demo)', function(obj) {
				var data = obj.data;
				if (obj.event === 'tableDelete') {
					layer.confirm('真的删除行么', function(index) {
						obj.del();
						$.ajax({
							type : "get",
							url : "/Hello/deleteAdm?adm_id=" + data.adm_id,
							dataType : "json"
						});
						layer.close(index);
					});
 
				} else if (obj.event === 'tableUpdate') {
					//layer.alert('编辑行：<br>'+ JSON.stringify(data))										
					$.ajax({
						type : "post",
						data : data,
						url : "/Hello/editAdm",
						dataType : "json"
					});
 
				}
			});
		});
	</script>
    <!-- <script>
      var element = layui.element;
	  var table = layui.table;
	  var form = layui.form;
	  $.ajax({
		  type: "get",
		  url: "http://localhost:8111/Hello/listAdm",
		  dataType: "json",
		  async:true,
		  success: function(data){
			  var list = data.data;
			  console.log(list);
		  }
	  });
	  table.render({
		    elem: '#demo'
		    ,cols: [[ //标题栏
		      {field: 'adm_Aaddress', title: '地址', width: 100, sort: true}
		      ,{field: 'adm_Introduce', title: '自我介绍', width: 200}
		      ,{field: 'adm_id', title: 'id', width: 40}
		      ,{field: 'adm_name', title: '姓名', width: 80}
		      ,{field: 'adm_passward', title: '密码', width: 150}
		      ,{field: 'adm_sex', title: '性别', width: 40}
		    ]]
		    ,data: list
		    ,skin: 'line' //表格风格
		    ,even: true
		    ,page: true //是否显示分页
		    ,limits: [5, 7, 10]
		    ,limit: 5 //每页默认显示的数量
	 });
	  $("#button-check").click(function(){
		 /*  $.get("http://localhost:8111/Hello/listAdm",{},function(data){
				var list = data.data;
				console.log(list);
			},"json"); */
		  console.log(list);
		  
		//展示已知数据
		  
	  })
  
    </script> -->
</body>
</html>