<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../assets/css/layui.css">
    <link rel="stylesheet" href="../assets/css/view.css"/>
    <title></title>
</head>
<body class="layui-view-body">
    <div class="layui-content">
        <div class="layui-row">
            <div class="layui-card">
                <div class="layui-card-header">歌曲</div>
                <form class="layui-form layui-card-body" action="/Hello/UploadServlet" method="post" enctype=multipart/form-data>
                  <div class="layui-form-item">
                    <label class="layui-form-label">曲名</label>
                    <div class="layui-input-block">
                      <input type="text" name="title" required lay-verify="required" placeholder="请输入曲名" autocomplete="off" class="layui-input">
                    </div>
                  </div>
                  <div class="layui-form-item">
                    <label class="layui-form-label">歌手</label>
                    <div class="layui-input-block">
                      <input type="text" name="singer" required lay-verify="required" placeholder="请输入歌手" autocomplete="off" class="layui-input">
                    </div>
                  </div>
                  <div class="layui-form-item">
                    <label class="layui-form-label">歌曲流文件</label><input type="file" name="file">
                    <div class="layui-form-mid layui-word-aux"><br></div>
                  </div>
                  
                  <div class="layui-form-item">
                    <label class="layui-form-label">类型</label>
                    <div class="layui-input-block">
                      <select name="city" lay-verify="required">
                        <option value=""></option>
                        <option value="流行">流行</option>
                        <option value="电子">电子</option>
                        <option value="轻音乐">轻音乐</option>
                        <option value="民谣">民谣</option>
                        <option value="说唱">说唱</option>
                        <option value="摇滚">摇滚</option>
                        <option value="爵士">爵士</option>
                        <option value="R&B">R&B</option>
                        <option value="古典">古典</option>
                        <option value="乡村">乡村</option>
                      </select>
                    </div>
                  </div>
                  <div class="layui-form-item">
                    <label class="layui-form-label">语种</label>
                    <div class="layui-input-block">
                      <input type="radio" name="language" value="国语" title="国语"checked>
                      <input type="radio" name="language" value="英语" title="英语">
                      <input type="radio" name="language" value="粤语" title="粤语">
                      <input type="radio" name="language" value="韩语" title="韩语">
                      <input type="radio" name="language" value="日语" title="日语" >
                      <input type="radio" name="language" value="小语种" title="小语种">
                    </div>
                    <!-- <input type="checkbox" name="" title="写作" lay-skin="primary" checked> -->
                  </div>
                  <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">备注</label>
                    <div class="layui-input-block">
                      <textarea name="desc" placeholder="请输入内容" class="layui-textarea"></textarea>
                    </div>
                  </div>
                  <div class="layui-form-item">
                    <div class="layui-input-block">
                      <button class="layui-btn layui-btn-blue" lay-submit lay-filter="formDemo">立即提交</button>
                      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                  </div>
                </form>  
            </div>
        </div>
    </div>
    <script src="../assets/layui.all.js"></script>
    <script>
      var form = layui.form
        ,layer = layui.layer;
    </script>
</body>
</html>